In [1]:
import pandas as pd

In [2]:
students_df = pd.read_csv("students_complete.csv")
schools_df = pd.read_csv("schools_complete.csv")
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
#school_data_complete.head()

In [3]:
schools_count = len(schools_df["school_name"].unique())
students_count = len(students_df["Student ID"].unique())


total_budget = schools_df['budget'].sum()

avg_math = students_df["math_score"].mean()

avg_read = students_df["reading_score"].mean()


only_pass_math = len(students_df.loc[students_df["math_score"]>=70,:])/students_count 

only_pass_reading = len(students_df.loc[students_df["reading_score"]>=70,:])/students_count 

total_pass = (only_pass_math + only_pass_reading)/2

In [4]:
District_Summary = pd.DataFrame([{"Total Schools":schools_count, "Total Students":students_count, "Total Budget":total_budget, "Average Math Score":avg_math, "Average Reading Score":avg_read, 
                                  "Percent Passing Math":only_pass_math, "Percent Passing Reading":only_pass_reading,"Overall Passing Rate":total_pass}])                                
District_Summary = District_Summary[["Total Schools",
                             "Total Students", 
                             "Total Budget", 
                             "Average Math Score", 
                             "Average Reading Score", 
                             "Percent Passing Math", 
                             "Percent Passing Reading", 
                             "Overall Passing Rate"]]

District_Summary.style.format({"Total Budget":"${:,.2f}",
                              "Average Math Score": "{:.2f}",
                              "Average Reading Score": "{:.2f}",
                              "Percent Passing Math": "{:.2%}",
                              "Percent Passing Reading": "{:.2%}",
                               "Overall Passing Rate":"{:.2%}"})

In [5]:
#Begin School Summary
school_group = school_data_complete.set_index('school_name').groupby(['school_name'])
students_per_school = school_group['Student ID'].count()
types = schools_df.set_index('school_name')['type']
school_budget = schools_df.set_index('school_name')['budget']
budget_per_student = (school_budget/students_per_school)
math_score_school = school_group["math_score"].mean()
reading_school_score = school_group["reading_score"].mean()
school_math_pct = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby("school_name")['student_name'].count()/students_per_school
school_reading_pct = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby("school_name")['student_name'].count()/students_per_school
combined_pass_pct = (school_math_pct+school_reading_pct)/2

In [6]:
District_Summary = pd.DataFrame({"Type":types,
                                 "Total Students":students_per_school,
                                 "Total School Budget":school_budget,
                                 "Per Student Budget":budget_per_student,
                                 "Average Math Score":math_score_school,
                                 "Average Reading Score":reading_school_score,
                                 "Percent Passing Math":school_math_pct,
                                 "Percent Passing Reading":school_reading_pct,
                                 "Overall Passing Rate":combined_pass_pct})
District_Summary = District_Summary[["Type",
                                 "Total Students",
                                 "Total School Budget",
                                 "Per Student Budget",
                                 "Average Math Score",
                                 "Average Reading Score",
                                 "Percent Passing Math",
                                 "Percent Passing Reading",
                                 "Overall Passing Rate"]]
District_Summary.style.format({"Total School Budget":"${:,.2f}",
                          "Per Student Budget":"${:,.2f}",
                          "Average Math Score": "{:.2f}",
                          "Average Reading Score": "{:.2f}",
                          "Percent Passing Math": "{:.1%}", 
                          "Percent Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

In [32]:
#Top 5


top = District_Summary.sort_values("Overall Passing Rate", ascending = False)
top.head(5).style.format({"Total School Budget":"${:,.2f}",
                          "Per Student Budget":"${:,.2f}",
                          "Average Math Score": "{:.2f}",
                          "Average Reading Score": "{:.2f}",
                          "Percent Passing Math": "{:.1%}", 
                          "Percent Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

In [34]:
#Bottom 5
bottom = District_Summary.sort_values("Overall Passing Rate", ascending = True)
bottom.head(5).style.format({"Total School Budget":"${:,.2f}",
                          "Per Student Budget":"${:,.2f}",
                          "Average Math Score": "{:.2f}",
                          "Average Reading Score": "{:.2f}",
                          "Percent Passing Math": "{:.1%}", 
                          "Percent Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

In [39]:
#Math Scores by Grade
math9 = students_df.loc[students_df["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math10 = students_df.loc[students_df["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math11 = students_df.loc[students_df["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math12 = students_df.loc[students_df["grade"] == "12th"].groupby("school_name")["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": math9,
        "10th": math10,
        "11th": math11,
        "12th": math12
})
math_scores = math_scores[["9th", "10th", "11th", "12th"]]
math_scores.index.name = "School"

#show and format
math_scores.style.format({"9th": "{:.1f}", 
                          "10th": "{:.1f}", 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [40]:
#Reading Scores by Grade
reading9 = students_df.loc[students_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
reading10 = students_df.loc[students_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
reading11 = students_df.loc[students_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
reading12 = students_df.loc[students_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

math_scores = pd.DataFrame({
        "9th": reading9,
        "10th": reading10,
        "11th": reading11,
        "12th": reading12
})
reading_scores = math_scores[["9th", "10th", "11th", "12th"]]
reading_scores.index.name = "School"

#show and format
reading_scores.style.format({"9th": "{:.1f}", 
                          "10th": "{:.1f}", 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [43]:
#Scores by School Spending
bins = [0, 584, 614, 644, 10000]
group_names = ["<$585", "$585-614", "$615-644", "$645& Up"]
school_data_complete["spending_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], bins, labels = group_names)
spending_groups = school_data_complete.groupby("spending_bins")